<a href="/bands/{{bandId}}/members">Back to Member List</a>

<div class="create-member-form">
<form method="POST" action="/bands/{{bandId}}/members">

  <div class="form-group">
    <label for="memberName" class="memberName">Member Name</label>
      <input 
        type="text" 
        id="memberName" 
        name="memberName"
      />
  </div>

  <div class="form-group">
    <label for="memberEmail">Member Email:</label>
      <input 
        type="text" 
        id="memberEmail"
        name="memberEmail"
      />
  </div>

  <div class="form-group">
    <label for="memberInstrument" class="memberInstrument">Instrument/s Played</label>
      <input 
        type="text" 
        id="memberInstrument" 
        name="memberInstrument"
      />
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>

</form>

</div>
