<a href="/members">Back to Members Page</a>
<h1>Seed and Feed Marching Abominable</h1>

<a href="/members/{{member._id}}/edit">Edit Member</a>

<h2>Member Name</h2>
<p>{{member.memberName}}</p>

<h3>Member Email</h3>
<p>{{member.memberEmail}}</p>
    
<form action="/members/{{member._id}}?_method=DELETE" method="post">
    <button type="submit" class="btn btn-primary">Delete Member</button>
</form>