<a href="/gigs">Back to Gigs Page</a>

<form method="POST" action="/bands/{{bandId}}/gigs">

  <div class="form-group">
    <label for="gigName" class="gigName">Gig Name</label>
      <input 
        type="text" 
        id="gigName" 
        {{!-- placeholder="Gig Name"  --}}
        name="gigName"
      />
  </div>

  <div class="form-group">
    <label for="dateOfGig">Date of Gig:</label>
      <input 
        type="date" 
        id="dateOfGig"
        {{!-- placeholder="Date of Gig" --}}
        name="dateOfGig"
        
      />
  </div>

  <div class="form-group">
    <label for="typeOfPerformance">Type of Performance:
      
    </label>
    <select name="typeOfPerformance">
      <option value="parade">Parade</option>
      <option value="festival">Festival</option>
      <option value="wedding">Wedding</option>
      <option value="bdayParty">Birthday Party</option>
    </select>

      {{!-- <input 
        type="text" 
        id="typeOfPerformance"
        
        name="typeOfPerformance"
      /> --}}
  </div>

  <div class="form-group">
    <label for="gigDescription">Gig Description:</label>
      <input 
        type="text" 
        id="gigDescription"
        {{!-- placeholder="Gig Description"  --}}
        name="gigDescription"
      />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>



</form>



  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  {{!-- <form method="POST" action="accounts"></form> --}}
  {{!-- <input 
  type="text" 
  placeholder="name" 
  name="<TODO: stringMember (e.g: name)>" 
  />

  <input 
  type="checkbox" 
  name="<TODO: model.booleanMember (e.g: account.isActive)" 
  value="true" 
  />

  <input 
  type="submit" 
  value="Create Shop" 
  /> --}}