<div id="band-list">
{{!-- <h2>Band List</h2> --}}

<a href="/bands/create"><img src="/images/musicnotes2.png" class="add-band-btn"></a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Band List</th>  
      
    </tr>
  </thead>

  <tbody>
    {{#each bands}}

    <tr>      
        <td><a href="/bands/{{_id}}">{{bandName}}</a></td>
        
    </tr>

    {{/each}}
  </tbody>

</table>

</div>







