<a href="/bands">Back to Bands Page</a>

<div class="create-band-form">
<form method="POST" action="/bands">

  <div class="form-group">
    <label for="bandName" class="bandName">Band Name</label>
      <input 
        type="text" 
        id="bandName" 
        name="bandName"
      />
  </div>

  <div class="form-group">
    <label for="imgLink" class="img-link">Band Picture</label>
    <input 
      type="text" 
      id="img-link" 
      name="imgLink"      
    > 
  </div>

  <div class="form-group">
    <label for="aboutBand" class="aboutBAnd">About the Band</label>
      <input 
        type="text" 
        id="aboutBand" 
        name="aboutBand"
      />
  </div>
  
  <div class="form-group">
    <label for="photoCredit" class="photoCredit">Photo Credit</label>
      <input 
        type="text" 
        id="photoCredit" 
        name="photoCredit"
      />
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>

</form>

</div>
