<a href="/bands">Back to Bands Page</a>

<form method="POST" action="/bands">

  <div class="form-group">
    <label for="bandName" class="bandName">Band Name</label>
      <input 
        type="text" 
        id="bandName" 
        name="bandName"
      />
  </div>

  <div class="form-group">
    <label for="aboutBand" class="aboutBAnd">About the Band</label>
      <input 
        type="text" 
        id="aboutBand" 
        name="aboutBand"
      />
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>

</form>


